services:
  gluetun:
    image: qmcgaw/gluetun:${GLUETUN_RELEASE_TAG}
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - ${DEVICE_DIRECTORY}:/dev/net/tun
    volumes: 
      - ${GLUETUN_DIRECTORY}/config.toml:/gluetun/auth/config.toml:ro
      - ${GLUETUN_DIRECTORY}:/gluetun
    environment:
      - TZ=${TZ}
      - PUID=${USER_ID}
      - PGID=${GROUP_ID}
      - HTTP_CONTROL_SERVER_ADDRESS=0.0.0.0:${GLUETUN_PORT}
      - HTTP_CONTROL_SERVER_LOG=ON
      - HTTP_CONTROL_SERVER_AUTH_CONFIG_FILEPATH=/gluetun/auth/config.toml
      - UPDATER_PERIOD=24h
      - UPDATER_PROTONVPN_EMAIL=${UPDATER_PROTONVPN_EMAIL}
      - UPDATER_PROTONVPN_PASSWORD=${UPDATER_PROTONVPN_PASSWORD}
      - FIREWALL_INPUT_PORTS=${GLUETUN_PORT},${QBITTORRENT_PORT},${PROWLARR_PORT}
      - VPN_SERVICE_PROVIDER=${VPN_PROVIDER}
      - VPN_TYPE=${VPN_TYPE}
    #   - SERVER_COUNTRIES=${SERVER_COUNTRY_LIST}
      - PORT_FORWARD_ONLY=true
      - WIREGUARD_PRIVATE_KEY=${VPN_PRIVATE_KEY}
      - FIREWALL_OUTBOUND_SUBNETS=${GLUETUN_SUBNET}/16
      - VPN_PORT_FORWARDING=on
      - VPN_PORT_FORWARDING_UP_COMMAND=/bin/sh -c 'wget -O- --retry-connrefused --save-cookies=cookies.txt --post-data "username=${QBITTORRENT_USERNAME}&password=${QBITTORRENT_PASSWORD}" http://localhost:${QBITTORRENT_PORT}/api/v2/auth/login; wget -O- --retry-connrefused --load-cookies=cookies.txt --post-data "json={\"listen_port\":{{PORT}},\"current_network_interface\":\"{{VPN_INTERFACE}}\",\"random_port\":false,\"upnp\":false}" http://${GLUETUN_DOCKER_IP_ADDRESS}:${QBITTORRENT_PORT}/api/v2/app/setPreferences 2>&1' 
      - VPN_PORT_FORWARDING_DOWN_COMMAND=/bin/sh -c 'wget -O- --retry-connrefused --load-cookies=cookies.txt --post-data "json={\"listen_port\":0,\"current_network_interface\":\"lo"}" http://${GLUETUN_DOCKER_IP_ADDRESS}:${QBITTORRENT_PORT}/api/v2/app/setPreferences 2>&1'
    ports:
      - ${GLUETUN_PORT}:8000 # control server
      - ${QBITTORRENT_PORT}:8081 # qbittorrent webui
      - ${PROWLARR_PORT}:9696 # prowlarr
    restart: always
    command: update -enduser -providers protonvpn -proton-email ${UPDATER_PROTONVPN_EMAIL} -proton-password ${UPDATER_PROTONVPN_PASSWORD}
    networks:
      monsklint:
        ipv4_address: ${GLUETUN_DOCKER_IP_ADDRESS}
    labels:
      - traefik.enable=true
      - traefik.docker.network=monsklint
      
      - traefik.http.routers.qbittorrent-https.tls=true
      - traefik.http.routers.qbittorrent-https.tls.certresolver=cloudflare
      - traefik.http.routers.qbittorrent-https.entrypoints=websecure-int #internal entrypoint
      - traefik.http.routers.qbittorrent-https.rule=Host(`qbittorrent.monsklint.nl`)
      - traefik.http.routers.qbittorrent-https.service=qbittorrent
      - traefik.http.services.qbittorrent.loadbalancer.server.port=${QBITTORRENT_PORT}

      - traefik.http.routers.prowlarr-https.tls=true
      - traefik.http.routers.prowlarr-https.tls.certresolver=cloudflare
      - traefik.http.routers.prowlarr-https.entrypoints=websecure-int #internal entrypoint
      - traefik.http.routers.prowlarr-https.rule=Host(`prowlarr.monsklint.nl`)
      - traefik.http.routers.prowlarr-https.service=prowlarr
      - traefik.http.services.prowlarr.loadbalancer.server.port=${PROWLARR_PORT}

      - traefik.http.routers.mousehole-https.tls=true
      - traefik.http.routers.mousehole-https.tls.certresolver=cloudflare
      - traefik.http.routers.mousehole-https.entrypoints=websecure-int #internal entrypoint
      - traefik.http.routers.mousehole-https.rule=Host(`mousehole.monsklint.nl`)
      - traefik.http.routers.mousehole-https.service=mousehole
      - traefik.http.services.mousehole.loadbalancer.server.port=${MOUSEHOLE_PORT}
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:${QBITTORRENT_RELEASE_TAG}
    container_name: qbittorrent
    volumes:
      - ${QBITTORRENT_DIRECTORY}:/config
      - ${TORRENT_DIRECTORY}:/data/torrents
    environment:
      - TZ=${TZ}
      - PUID=${USER_ID}
      - PGID=${GROUP_ID}
      - WEBUI_PORT=${QBITTORRENT_PORT}
    restart: unless-stopped
    network_mode: service:gluetun
    depends_on:
      - gluetun
    labels:
      autoheal-app: true
    healthcheck:
      test: wget -O - -t 1 --post-data="username=${QBITTORRENT_USERNAME}&password=${QBITTORRENT_PASSWORD}"  http://${GLUETUN_DOCKER_IP_ADDRESS}:${QBITTORRENT_PORT}/api/v2/auth/login || exit 1
      interval: 30s
      timeout: 5s
      retries: 2
      start_period: 10s
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:${PROWLARR_RELEASE_TAG}
    container_name: prowlarr
    security_opt:
      - no-new-privileges:true
    volumes:
      - ${PROWLARR_DIRECTORY}:/config
    environment:
      - TZ=${TZ}
      - PUID=${USER_ID}
      - PGID=${GROUP_ID}
    restart: unless-stopped
    network_mode: service:gluetun
    depends_on:
      - gluetun
    labels:
      autoheal-app: true
    healthcheck:
      test: wget --output-document=/dev/null --tries=1 http://${GLUETUN_DOCKER_IP_ADDRESS}:${PROWLARR_PORT}/api/v1/health?apikey=${PROWLARR_API_KEY} &> /dev/null || exit 1
      interval: 30s
      timeout: 5s
      retries: 2
      start_period: 10s
  mousehole:
    image: tmmrtn/mousehole:${MOUSEHOLE_RELEASE_TAG}
    volumes:
      - ${MOUSEHOLE_DIRECTORY}/:/srv/mousehole
    environment:
      - TZ=${TZ}
    network_mode: "service:gluetun"
    restart: unless-stopped
networks:
  monsklint:
    external: true