services:
  autobrr:
    image: ghcr.io/autobrr/autobrr:latest
    container_name: autobrr
    volumes:
      - ${AUTOBRR_DIRECTORY}/config:/config
    environment:
      - TZ=${TZ}
    user: 0:0
    ports:
      - ${AUTOBRR_PORT}:7474
    restart: unless-stopped
    networks:
      monsklint:
        ipv4_address: ${AUTOBRR_DOCKER_IP_ADDRESS}
    labels:
      - traefik.enable=true
      - traefik.docker.network=monsklint

      # Router
      - traefik.http.routers.autobrr.rule=Host(`audiobookshelf.monsklint.nl`)
      - traefik.http.routers.autobrr.entrypoints=websecure-int
      - traefik.http.routers.autobrr.tls=true
      - traefik.http.routers.autobrr.tls.certresolver=cloudflare

      # Service
      - traefik.http.services.autobrr.loadbalancer.server.port=${AUTOBRR_PORT}
  thelounge:
    image: ghcr.io/thelounge/thelounge:latest
    container_name: thelounge
    volumes:
      - ${THELOUNGE_DIRECTORY}:/var/opt/thelounge
    user: 568:568
    ports:
      - "${THELOUNGE_PORT}:9000"
    restart: unless-stopped
    networks:
      monsklint:
        ipv4_address: ${THELOUNGE_DOCKER_IP_ADDRESS}
    labels:
      - traefik.enable=true
      - traefik.docker.network=monsklint

      # Router
      - traefik.http.routers.thelounge.rule=Host(`thelounge.monsklint.nl`)
      - traefik.http.routers.thelounge.entrypoints=websecure-int
      - traefik.http.routers.thelounge.tls=true
      - traefik.http.routers.thelounge.tls.certresolver=cloudflare

      # Service
      - traefik.http.services.thelounge.loadbalancer.server.port=${THELOUNGE_PORT}
networks:
  monsklint:
    external: true
